site_url: https://rdma-rust.github.io
repo_url: https://github.com/RDMA-Rust/rdma-rust.github.io

site_name: RDMA-Rust

theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.follow

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.blocks.caption
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - d2
  - blog:
      blog_dir: .
  - search
  - git-committers:
      repository: RDMA-Rust/rdma-rust.github.io
      branch: main
